<body>

<header>
<h1>Boy Scouts</h1>
</header>
<nav>
Index<br>
<!-- <%= link_to "RUNS", :controller => :runs, :action => :index%><br> -->
<a href="/admin">ADMIN</a><br>
<a href="/admin/subscription_payment/new">RECORD NEW PAYMENT</a>
<a href="/routes/showRunSheets">GENERATE RUN SHEETS</a>
</nav>

<section>
<h1>About Boy Scouts</h1>
<hr class="headingLine">
<p>
The Boy Scouts of America(BSA) is one of the nation's largest and most prominent values-based youth development organizations. The BSA provides a program for young people aged 11-18 that builds character, trains them in the responsibilities of participating citizenship, and develops personal fitness.
</p>
</section>

<footer>
Copyright © TeamFirefox
</footer>

</body>
